.about-offset
	padding-top: 200px

.register-offset
	padding-top: 150px

.ul-center
	display: table
	margin-left: auto
	margin-right: auto

	div
		display: table-cell

		ul
			list-style-type: disc
			text-align: left
			font-size: 18px
			line-height: 1.5

.screenshots
	margin-bottom: 40px
	margin-left: -100px
	margin-right: -100px
	img
		height: 400px

@media (max-width: 700px)
	.screenshots
		margin-left: -15px
		margin-right: -15px
		overflow-x: scroll
		height: 400px
		white-space: nowrap
