.group-links
	.page-header
		margin-bottom: 0 !important

.link-table
	.column-icon
		font-size: 25px
		width: 30px
		height: auto
		text-align: center

	.column-name a
		color: #333
		display: inline-block
		width: 90%

	.column-uploaded
		text-align: left
		width: 27%

	.column-actions
		width: 40px
		text-align: right

	
	td, th
		vertical-align: middle !important

.feed-placeholder
	margin-top: 10px
