margin-horizontal()
	margin-left: arguments
	margin-right: arguments

margin-vertical()
	margin-top: arguments
	margin-bottom: arguments

padding-horizontal()
	padding-left: arguments
	padding-right: arguments

padding-vertical()
	padding-top: arguments
	padding-bottom: arguments

ellipsis()
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
