.user-settings
	.center-div
		position: relative
		float: left
		margin-left: 50px
	
	#pw-div
		margin-left: 60px
		display: none

	#pswd-btn-div
		margin-top: -7px

	#customfileupload
		display: inline-block
		width: auto

	.error
		background-color: rgba(243, 43, 43, 0.38)
		color: #922424
		border-color: #f02810
		margin-bottom: 0px

	.success
		background-color: rgba(1, 174, 15, 0.33)
		color: #1f6625
		border-color: #11a428

	.info
		background-color: rgba(216, 225, 70, 0.36)
		color: #777D21
		border-color: #dfed07

	ul
		list-style-type: disc
		list-style-position: outside
		list-style-image: none
		padding: 0px
		align-content: left
		text-align: left

	li
		margin-left: 8px
		padding 0px
		align-content: left
		text-align: left
