column-count()
	-webkit-column-count: arguments
	-moz-column-count: arguments
	column-count: arguments

column-gap()
	-webkit-column-gap: arguments
	-moz-column-gap: arguments
	column-gap: arguments

column-break-inside()
	-webkit-column-break-inside: arguments
	-moz-column-break-inside: arguments
	column-break-inside: arguments

animation()
	-webkit-animation: arguments
	animation: arguments

border-radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	border-radius: arguments


background-size()
	-webkit-background-size: arguments
	-moz-background-size: arguments
	background-size: arguments

transform()
	-webkit-transform: arguments
	-moz-transform: arguments
	transform: arguments

transition()
	-webkit-transition: arguments
	-moz-transition: arguments
	transition: arguments
