virtualenv/
.vs/
.vscode/
obj/
bin/
TestResults/
media/*
messengerext/db.sqlite3
__pycache__
*.pyc
*.sqlite3
*/htmlcov/*
.coverage
.idea
groupsome.iml
*.suo
*.sln
*.pyproj*
*ptvs*
web*.config
messengerext/config/settings_custom.py
deploy_tools/virtualenv
deploy_tools/ansible/roles/user/files/secrets*.json
deploy_tools/ansible/keys
deploy_tools/ansible/*.retry
deploy_tools/ansible/roles/mysql/files/*.my.cnf
/messengerext/geckodriver.log
/messengerext/media
messengerext/static/style/main.css
node_modules/
.DS_Store
/messengerext/ghostdriver.log
/messengerext/assets/
/messengerext/static/locale/de/LC_MESSAGES/django.mo
geckodriver.log
