.navbar-custom
	margin-bottom: 0
	border-bottom: 1px solid rgba(255,255,255,.3)
	text-transform: uppercase
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
	background-color: black
	letter-spacing: 1px

.navbar-custom .navbar-brand
	font-weight: 700

.navbar-custom .navbar-brand:focus
	outline: 0

.navbar-custom .navbar-brand .navbar-toggle
	padding: 4px 6px
	font-size: 16px
	color: #fff

.navbar-custom .navbar-brand .navbar-toggle:focus
.navbar-custom .navbar-brand .navbar-toggle:active
	outline: 0

.navbar-custom a
	color: #fff

.navbar-custom .nav li a
	transition: background .3s ease-in-out

.navbar-custom .nav li a:hover
	outline: 0
	color: rgba(255,255,255,.8)
	background-color: transparent

.navbar-custom .nav li a:focus
.navbar-custom .nav li a:active
	outline: 0
	background-color: transparent

.navbar-custom .nav li.active
	outline: 0

.navbar-custom .nav li.active a
	background-color: rgba(255,255,255,.3)

.navbar-custom .nav li.active a:hover
	color: #fff
